.aplayer.aplayer-withlrc .aplayer-pic {
    height: 600px;
    width: 200px;
    border-radius: 20px;
}
.aplayer.aplayer-withlrc .aplayer-info {
    height: 600px;
    margin-left: 200px;
}
.aplayer .aplayer-lrc {
    height: 540px;
}

.aplayer .aplayer-lrc .aplayer-lrc-contents {
    padding-top: 200px;
}

/* .aplayer .aplayer-lrc .aplayer-lrc-contents p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
} */

.aplayer .aplayer-list ol li .aplayer-list-index {
    text-align: center;
    display: inline-block;
    width: 20px;
}

.aplayer .aplayer-body {
    padding-bottom: 10px;
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
    color: #31c27c;
    opacity: 0.8;
}